
obj/Debug/Resources/PathDatas.baml
obj/Debug/Resources/ScrollViewerStyle.baml
obj/Debug/Themes/Generic.baml
obj/Debug/WPFEffects.csproj.CopyComplete
obj/Debug/WPFEffects.csproj.FileListAbsolute.txt
obj/Debug/WPFEffects.csproj.GenerateResource.cache
obj/Debug/WPFEffects.csprojAssemblyReference.cache
obj/Debug/WPFEffects.exe
obj/Debug/WPFEffects.g.resources
obj/Debug/WPFEffects.pdb
obj/Debug/WPFEffects.Properties.Resources.resources
obj/Debug/WPFEffects_MarkupCompile.lref
obj/Debug/WPFEffects_MarkupCompile.cache
obj/Debug/Modules/Preview/PathDataModuleView.g.i.cs
obj/Debug/Modules/Preview/PathDataModuleView.g.cs
obj/Debug/Modules/Preview/PathDataModuleView.baml
obj/Debug/Modules/Performance/ImagePerformanceModuleView.g.i.cs
obj/Debug/Modules/Performance/ImagePerformanceModuleView.g.cs
obj/Debug/Modules/Performance/ImagePerformanceModuleView.baml
obj/Debug/Modules/Performance/ImagePerformance2ModuleView.g.i.cs
obj/Debug/Modules/Performance/ImagePerformance2ModuleView.g.cs
obj/Debug/Modules/Performance/ImagePerformance2ModuleView.baml
obj/Debug/Modules/Imgs/ImgCoordinateModuleView.g.i.cs
obj/Debug/Modules/Imgs/ImgCoordinateModuleView.g.cs
obj/Debug/Modules/Imgs/ImgCoordinateModuleView.baml
obj/Debug/Modules/Effects/TextblockEffectModuleView.g.i.cs
obj/Debug/Modules/Effects/TextblockEffectModuleView.g.cs
obj/Debug/Modules/Effects/TextblockEffectModuleView.baml
obj/Debug/Modules/Dynamic/AnimLineModuleView.g.i.cs
obj/Debug/Modules/Dynamic/AnimLineModuleView.g.cs
obj/Debug/Modules/Dynamic/AnimLineModuleView.baml
obj/Debug/Modules/Chart/RadianChartModuleView.g.i.cs
obj/Debug/Modules/Chart/RadianChartModuleView.g.cs
obj/Debug/Modules/Chart/RadianChartModuleView.baml
obj/Debug/Modules/Chart/PieChartModuleView.g.i.cs
obj/Debug/Modules/Chart/PieChartModuleView.g.cs
obj/Debug/Modules/Chart/PieChartModuleView.baml
obj/Debug/Modules/Chart/HistogramChartModuleView.g.i.cs
obj/Debug/Modules/Chart/HistogramChartModuleView.g.cs
obj/Debug/Modules/Chart/HistogramChartModuleView.baml
obj/Debug/Modules/Carousel/CarouselModuleView.g.i.cs
obj/Debug/Modules/Carousel/CarouselModuleView.g.cs
obj/Debug/Modules/Carousel/CarouselModuleView.baml
obj/Debug/Modules/Carousel/Carousel3DModuleView.g.i.cs
obj/Debug/Modules/Carousel/Carousel3DModuleView.g.cs
obj/Debug/Modules/Carousel/Carousel3DModuleView.baml
obj/Debug/Modules/AboutMe/AdvertiseModuleView.g.i.cs
obj/Debug/Modules/AboutMe/AdvertiseModuleView.g.cs
obj/Debug/Modules/AboutMe/AdvertiseModuleView.baml
obj/Debug/Modules/AboutMe/AboutMeModuleView.g.i.cs
obj/Debug/Modules/AboutMe/AboutMeModuleView.g.cs
obj/Debug/Modules/AboutMe/AboutMeModuleView.baml
obj/Debug/MainWindow.g.i.cs
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.baml
obj/Debug/GeneratedInternalTypeHelper.g.i.cs
obj/Debug/GeneratedInternalTypeHelper.g.cs
obj/Debug/Core/CommonFrms/AnimImage.g.i.cs
obj/Debug/Core/CommonFrms/AnimImage.g.cs
obj/Debug/Core/CommonFrms/AnimImage.baml
obj/Debug/App.g.i.cs
obj/Debug/App.g.cs
obj/Debug/App.baml
.vs/WPFEffects/v16/Server/sqlite3/storage.ide-wal
.vs/WPFEffects/v16/Server/sqlite3/storage.ide-shm
.vs/WPFEffects/v16/Server/sqlite3/storage.ide
.vs/WPFEffects/v16/Server/sqlite3/db.lock
.vs/WPFEffects/v16/.suo
bin/Debug/WPFEffects.exe.config
bin/Debug/WPFEffects.pdb
